$gray-50:                       #fafafa;
$gray-100:                      #f4f5f8;
$gray-200:                      #e3e7ed;
$gray-300:                      #cdd4e0;
$gray-400:                      #b4bdce;
$gray-500:                      #97a3b9;
$gray-600:                      #7987a1;
$gray-700:                      #596882;
$gray-800:                      #3b4863;
$gray-900:                      #1c273c;

// Color
$blue:                          #3366ff;
$bluecard:                      #4182a0;
$green:                         #3bb001;
$teal:                          #3c9090;
$pink:                          #f10075;
$red:                           #ff0000;
$indigo:                        #5b47fb;
$white:                         #ffffff;
$lightgreen:                    #43da45;
// Border
$border-radius:                 3px;
$border-color:                  $gray-300;

// Buttons & Inputs
$btn-focus-box-shadow:          none;
$btn-active-box-shadow:         none;

// Forms
$input-border-color:            $gray-300;

// Typography
$font-family-aller:             'aller';
$font-family-roboto:            'Roboto', sans-serif;
$font-family-montserrat:        'Montserrat', sans-serif;
$font-family-raleway:           'Raleway', sans-serif;

$font-family-primary:           $font-family-aller;
$font-family-secondary:         $font-family-raleway;
$font-size-base:                .875rem;
$font-family-kalam:             'kalam', cursive;

$link-hover-decoration:         none;

// Black Color Varient
$black-000000:                  #000000;
$black-111111:                  #111111;
$black-222222:                  #222222;
$black-333333:                  #333333;
$black-444444:                  #444444;
$black-555555:                  #555555;

$black-1a1a1a:                  #1a1a1a;
$black-393939:                  #393939;

// White Color Varient
$white-eeeeee:                  #eeeeee;
$white-f1f1f1:                  #f1f1f1;
$white-f8f8f8:                  #f8f8f8;

// Orange Color Varient
$orange-ffe5ca:                 #ffe5ca;
$orange-cc6600:                 #cc6600;

     